.Logo {
  color: blue;
}

.three {
  align-self: flex-end;
  font-family: var(--font-family);
  color: #6070ff;
  width: 40px;
  height: 30px;
}

body {
  background-image: url(image/pc2.png);
  background-size: cover;
}

.both {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  background-color: white;
}

.para {
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-left: 25%;
}

.menu_items {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

.menu_items li {
  display: block;
  margin: 10px 0;
}

.y {
  margin-top: 17%;
  margin-left: 25%;
  color: rgb(11, 1, 1);
  font: bolder;
  font-size: 30px;
}

.x {
  margin-left: 25%;
}

@media (max-width: 767px) {
  .menu_items {
    display: none;
  }

  body {
    background-image: url(image/mobi2.png);
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .three {
    display: none;
  }
}
