.image_portfolio3:hover {
  transform: scale(1.2);
  transition-duration: 2.5s;
}

.Logo {
  color: blue;
}

.three {
  align-self: flex-end;
  font-family: var(--font-family);
  color: #6070ff;
  width: 40px;
  height: 30px;
}

.w {
  background-image: url(image/pc2.png);
  background-size: cover;
  margin-right: 5%;
  margin-bottom: 10%;
}

.both {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  background-color: white;
}

.para {
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-left: 25%;
}

.menu_items {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

.menu_items li {
  display: block;
  margin: 10px 0;
}

.y {
  margin-top: 17%;
  margin-left: 25%;
  color: rgb(11, 1, 1);
  font: bolder;
  font-size: 30px;
}

.x {
  margin-left: 25%;
}

@media only screen and (max-width: 668px) {
  .menus {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
  }

  .menu_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 60px;
  }

  .menu_items li {
    width: 100%;
    text-align: center;
  }

  .w {
    background-image: url(image/pc2.png);
    background-size: cover;
  }
}

@media only screen and (min-width: 700px) {
  .Large_container {
    display: grid;
    grid-template-columns: 1;
    margin: 5%;

    .contact {
      padding: 0%;
      margin: 0%;
    }

    .image_other_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .image_other_content2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .Long {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
  }
}

.image_portfolio3 img {
  width: 544px;
  height: 448px;
  top: 24px;
  left: 590px;
  gap: 0;
  border-radius: 8px 0 0 0;
  opacity: 1;

  /* Set opacity to 1 to make the image visible */
}

.image_portfolio3:hover img {
  transform: scale(1.2);
  transition-duration: 2.5s;
}

.Large_container {
  display: grid;
  background-color: whitesmoke;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image_other_content {
  background-color: white;
  margin-bottom: 90px;
  border: 0 solid #6070ff;
  border-radius: 9px;
}

.para6 {
  font-size: 30px;
  background-color: white;
}

.HCJ ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.HTML,
.CSS,
.JAVA-SCRIP {
  background-color: #bdc1e3;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
}

.HTML {
  border: 0.1px solid #6070ff;
}

.CSS {
  border: 0.3px solid #7e7f87;
}

.JAVA-SCRIP {
  border: 1px solid #6070ff;
}

.see_project {
  background-color: rgb(244, 239, 239);
  border: 1px solid #c6cbf4;
  border-radius: 18px;
  margin-right: 75%;
}

.image_other_content2 {
  background-color: white;
  margin-bottom: 90px;
  border: 0 solid whitesmoke;
  border-radius: 9px;
}

.para7 ul {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  list-style-type: circle;
}

.Long {
  border: 0.1px solid #4d4e55;
  border-radius: 9px;
  background-color: white;
}

.language {
  display: flex;
  justify-content: space-between;
}

.J_H_C {
  padding-left: 2%;
}

.JS {
  display: flex;
  background-color: gainsboro;
  margin-bottom: 2%;
}

.TXT {
  margin-left: 8%;
}

.text {
  background-color: aliceblue;
}

.fram {
  display: flex;
  justify-content: space-between;
}

.skill {
  display: flex;
  justify-content: space-between;
}

.contact {
  background-color: #6070ff;
  border-top-left-radius: 80px;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.head {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25%;
  padding-top: 20px;
  color: white;
}

.paragraph {
  justify-content: center;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 30px;
}

.area {
  padding-bottom: 20%;
  border: px solid #c6cbf4;
  border-radius: 10px;
  margin-bottom: 2%;
}

.nea {
  display: grid;
  margin-top: 5%;
  align-items: center;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

.nme {
  padding-bottom: 7%;
  border: 1px solid #c6cbf4;
  border-radius: 10px;
  margin-bottom: 2%;
}

.ema {
  padding-bottom: 7%;
  margin-bottom: 2%;
  border: 1px solid #c6cbf4;
  border-radius: 10px;
}

.btn {
  padding-bottom: 7%;
  margin-bottom: 5%;
  border: 1px solid #c6cbf4;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 40%;
}

.btn--primary:hover {
  background: #6070ff;
}

.error-message {
  color: rgb(12, 231, 74);
  margin-bottom: 10px;
}
